<%= form_for @orden,:html => { :class => 'form-horizontal' } do |f| %>

    <div class="field">
    <%= f.radio_button(:modoretiro,"Express") %>
    <%= f.label(:modoretiro, "Express") %>
    <%= f.radio_button(:modoretiro, "En Restaurante") %>
    <%= f.label(:modoretiro, "En Restaurante") %>
    </div>


    <div class="form-actions">
    <%= f.submit "Actualizar", :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar', productos_selProductos_path(restauranteUser_Id:params[:restauranteUser_Id]),:class => 'btn' %>
    </div>

<% end %>
