<%- model_class = Orden -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>



  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:cantidad) %></th>
      <th><%= model_class.human_attribute_name(:especificaciones) %></th>
   </tr>
   </thead>

    <tbody>

            <% @orden.productos_vendidos.each do |productovendido| %>
            <tr>
                <td><%= productovendido.producto.nombre %></td>
                <td><%= productovendido.cantidad %></td>
                <td><%= productovendido.especificaciones %></td>
            </tr>
            <% end %>


    </tbody>

</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              ordens_path, :class => 'btn'  %>
</div>
