<%= form_for(@cuenta_usuario) do |f| %>
  <% if @cuenta_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuenta_usuario.errors.count, "error") %> prohibited this cuenta_usuario from being saved:</h2>

      <ul>
      <% @cuenta_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario %><br>
    <%= f.text_field :usuario %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
