<h1>Listing cuenta_usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuenta_usuarios.each do |cuenta_usuario| %>
      <tr>
        <td><%= cuenta_usuario.usuario %></td>
        <td><%= cuenta_usuario.password %></td>
        <td><%= link_to 'Show', cuenta_usuario %></td>
        <td><%= link_to 'Edit', edit_cuenta_usuario_path(cuenta_usuario) %></td>
        <td><%= link_to 'Destroy', cuenta_usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cuenta usuario', new_cuenta_usuario_path %>
