<%= form_for @restaurante, :html => { :class => 'form-horizontal' } do |f| %>


 <%=  f.hidden_field :user_id, :value => @restaurante.user_id %>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :provincia, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :provincia, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :canton, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :canton, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :distrito, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :distrito, :class => 'text_field' %>
    </div>
  </div>
 
  <div class="control-group">
    <%= f.label :direccion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :direccion, :class => 'text_field' %>
    </div>
  </div>
  
  <%= f.fields_for(:telefonos) do |telefonos_form| %>
      <div class="control-group">
      <%=  telefonos_form.label 'Telefono:',:class => 'control-label' %>
      <div class="controls">
      <%=  telefonos_form.text_field :telefono, :class => 'text_field' %>
      </div>
   </div>
  <% end %>
  

  
  

  <div class="form-actions">
    <%= f.submit "Sign Up", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurantes_path, :class => 'btn' %>
  </div>
<% end %>
