<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @restaurante.nombre %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @restaurante.provincia %>
</p>

<p>
  <strong>Canton:</strong>
  <%= @restaurante.canton %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @restaurante.distrito %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @restaurante.direccion %>
</p>

<%= link_to 'Edit', edit_restaurante_path(@restaurante) %> |
<%= link_to 'Back', restaurantes_path %>
