<%- model_class = Restaurante -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @restaurante.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:provincia) %>:</strong></dt>
  <dd><%= @restaurante.provincia %></dd>
  <dt><strong><%= model_class.human_attribute_name(:canton) %>:</strong></dt>
  <dd><%= @restaurante.canton %></dd>
  <dt><strong><%= model_class.human_attribute_name(:distrito) %>:</strong></dt>
  <dd><%= @restaurante.distrito %></dd>
  <dt><strong><%= model_class.human_attribute_name(:direccion) %>:</strong></dt>
  <dd><%= @restaurante.direccion %></dd>

  <% @restaurante.telefonos.each do |t| %>
      <dt><strong><%= model_class.human_attribute_name(:telefono) %>:</strong></dt>
      <dd><%= t.telefono %></dd>
  <% end %>


</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              static_pages_home_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_restaurante_path(@restaurante), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              restaurante_path(@restaurante),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
