<h1>Listing productos_vendidos</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos_vendidos.each do |productos_vendido| %>
      <tr>
        <td><%= productos_vendido.cantidad %></td>
        <td><%= link_to 'Show', productos_vendido %></td>
        <td><%= link_to 'Edit', edit_productos_vendido_path(productos_vendido) %></td>
        <td><%= link_to 'Destroy', productos_vendido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Productos vendido', new_productos_vendido_path %>
