<p id="notice"><%= notice %></p>

<p>
  <strong>Integer:</strong>
  <%= @factura.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @factura.integer %>
</p>

<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
