<%- model_class = Factura -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <% @productos_vendidos = Orden.where(user_id:current_user.id).last.productos_vendidos %>
    <% @productos_vendidos.each do |producto|%>
      <tr>
        <% @prod = Producto.find(producto.producto_id) %>
        <td><%= @prod.nombre%></td>
        <td><%= producto.cantidad %></td>
        <td>¢<%= @prod.precio %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<div class="page-header">
  <h5>Modo de retiro: <%= Orden.find(@factura.orden_id).modoretiro%></h5>
  <h3>Total a pagar: ¢<%= @factura.total%></h3>
</div>

<div class="form-actions">
  <%= link_to 'Pagar',
              ordens_cambiaEstadoFinOrden_path, :class => 'btn' %>
  <%= link_to 'Cancelar',
              factura_path(@factura),
              :method => 'delete',
              :data => { :confirm => '¿Está seguro que desea cancelar su orden?' },
              :class => 'btn btn-danger' %>
</div>
