<%= form_for @usuario_cliente, :html => { :class => 'form-horizontal' } do |f| %>


    <%=  f.hidden_field :user_id, :value => @usuario_cliente.user_id %>

    <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :apellidos, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :apellidos, :class => 'text_field' %>
    </div>
  </div>
     
  <div class="control-group">
    <%= f.label :provincia, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :provincia, :class => 'text_field' %>
    </div>
  </div>
  
     
  <div class="control-group">
    <%= f.label :canton, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :canton, :class => 'text_field' %>
    </div>
  </div>
  
  
  <div class="control-group">
    <%= f.label :distrito, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :distrito, :class => 'text_field' %>
    </div>
  </div>
    
  <div class="control-group">
    <%= f.label :direccion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :direccion, :class => 'text_area', :cols => 5, :rows => 10 %>
    </div>
  </div>

    <%= f.fields_for(:telefonos) do |telefonos_form| %>
        <div class="control-group">
          <%=  telefonos_form.label 'Telefono:',:class => 'control-label' %>
          <div class="controls">
            <%=  telefonos_form.text_field :telefono, :class => 'text_field' %>
          </div>
        </div>
    <% end %>

    <%= f.fields_for(:emails) do |emails_form| %>
        <div class="control-group">
          <%=  emails_form.label 'Email:',:class => 'control-label' %>
          <div class="controls">
            <%=  emails_form.text_field :email, :class => 'text_field' %>
          </div>
        </div>
    <% end %>


  <div class="form-actions">
    <%= f.submit "Sign Up", :class => 'btn btn-primary' %>
  </div>
<% end %>
