<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario_cliente.nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @usuario_cliente.apellidos %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @usuario_cliente.direccion %>
</p>
 
 <% @usuario_cliente.telefonos.each do |t| %>
    <p>
      <strong>Telefono:</strong>
      <%= t.telefono %>
    </p>
  <% end %>
  
   <% @usuario_cliente.emails.each do |e| %>
    <p>
      <strong>Email:</strong>
      <%= e.email %>
    </p>
  <% end %>
  
  

<%= link_to 'Edit', edit_usuario_cliente_path(@usuario_cliente) %> |
<%= link_to 'Back', usuario_clientes_path %>
